{{define "footer"}}
<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">开发团队介绍</h5>
                <p class="grey-text text-lighten-4">我们是北京邮电大学移动生活与新媒体实验室物联网安全小组的开发团队，主要依托实验室软件定义安全（SDS）平台开发的本物联网安全网关</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="white-text" href="https://ieeexplore.ieee.org/document/8433183/">本网关工作原理</a></li>
                    <li><a class="white-text" href="https://github.com/dongdi-wei/IoTGateWay">本网关项目地址</a></li>
                    <li><a class="white-text" href="https://www.researchgate.net/profile/Xiaofeng_Qiu3">实验室其他研究工作</a></li>
                    <li><a class="white-text" href="https://github.com/SDS-402">实验室其他项目地址</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://github.com/SDS-402/software-defined-security">SDS402</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>

</body>
</html>

{{end}}