{{template "header" .}}
<div class="container">
    <h2>物联网安全网关</h2>
    <hr/>
    <h3>网段信息</h3>
    <table id = "iplistT" class="striped bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>设备IP地址</th>
            <th>设备Mac地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <h5>{{.deviceTable}}</h5>
        {{/*{{range $k,$interf := .deviceTable}}*/}}
        {{/*<tr>*/}}
            {{/*<td>{{$k}}</td>*/}}
        {{/*{{range $.Tbody}}*/}}
            {{/*<td>*/}}
            {{/*{{index $interf .}}*/}}
            {{/*</td>*/}}
        {{/*{{end}}*/}}
            {{/*<td>*/}}
                {{/*<button class="btn-flat waves-effect waves-light green" onclick="show()">查看<i class="material-icons right">send</i></button>*/}}
            {{/*</td>*/}}
        {{/*</tr>*/}}
        {{/*{{end}}*/}}
        </tbody>
    </table>
    <hr/>
</div>
{{template "footer" }}