{{template "header" .}}
<script type="text/javascript">
    function jumptoresult(obj) {
        var rowindex = obj.parentNode.parentNode.parentNode.rowIndex
        var deviceMac = document.getElementById("iplistT").rows[rowindex].cells[2].innerHTML;
        $("#"+obj.id).attr("href", "/result?mac=" + deviceMac);
    }
</script>
<div class="container">
    <h2>物联网安全网关</h2>
    <hr/>
    <h3>网段信息</h3>
    <table id = "iplistT" class="striped bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>设备IP地址</th>
            <th>设备Mac地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range $k,$deviceInfo := .deviceTable}}
        <tr>
            <td>{{$k}}</td>
        {{range $.Tbody}}
            <td>
            {{index $deviceInfo .}}
            </td>
        {{end}}
            <td>
                <button class="btn-flat waves-effect waves-light green">
                    <a href="/result" id={{$k}} onclick="jumptoresult(this)" class="yellow-text">查看<i class="material-icons">send</i>
                    </a>
                    {{/*<script>jumptoiplist()</script>*/}}
                </button>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
    <hr/>
</div>
{{template "footer" }}