<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>test</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">窗口导航</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">窗口导航</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="row">

    <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        <li><i class="material-icons">cloud</i>云端结果</li>
        <li><i class="material-icons">home</i>本地结果</li>

    </div>

    <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        <li><i class="material-icons">cloud</i>111</li>
        <li><i class="material-icons">home</i>222</li>

    </div>

</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">开发团队介绍</h5>
                <p class="grey-text text-lighten-4">我们是北京邮电大学移动生活与新媒体实验室物联网安全小组的开发团队，主要依托实验室软件定义安全（SDS）平台开发的本物联网安全网关</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="white-text" href="https://ieeexplore.ieee.org/document/8433183/">本网关工作原理</a></li>
                    <li><a class="white-text" href="https://github.com/dongdi-wei/IoTGateWay">本网关项目地址</a></li>
                    <li><a class="white-text" href="https://www.researchgate.net/profile/Xiaofeng_Qiu3">实验室其他研究工作</a></li>
                    <li><a class="white-text" href="https://github.com/SDS-402">实验室其他项目地址</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://github.com/SDS-402/software-defined-security">SDS402</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>

</body>
</html>